.searchbar {
  display: flex;
  justify-content: center;

  padding: 15px 20px 15px 20px;

  background-color: blue;
}

.input {
  min-width: 350px;

  padding: 3px;
  padding-left: 25px;
}

.form {
  position: relative;
}

.button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
